<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Translation: <%= @piglatin %>
    <input type="text" name="<%=@piglatin%>">
    <input type="submit" id="Submit">
  </body>
</html>